.error {
    color: red;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.69%;
    height: 60px;
    border: 1px solid green;
    background-color: #EFEFEF;
}
