.color {
    width: 30px;
    margin: 0 20px 0 0;

}

.item {
    display: flex;
    align-items: stretch;
    border: 3px solid black;
    padding: 2px;
    width: 100%;
    margin:  0 0 5px;
}

.isSelected {
    border: 3px solid purple;
}
